---
layout: no-sidebar
title: Home
use:
  - news
  - videos
---

<div class="row frontpage-top">
    <div class="col-md-6 text-center">
        <img src="/images/logo/zgphp.png" alt="ZgPHP Meetup" />
    </div>
    <div class="col-md-6">
        <h1>PHP meetups in Zagreb</h1>
        <p>We are a team of PHP developers, working on different projects in different companies, versatile in choice of frameworks or technologies we use.</p>

        <hr />

        <div class="row">
            <div class="col-md-6">
                <h4>Next meetup</h4>
                <p>
                    <b>{{ site.meetup }}</b><br />
                    {{ site.meetup_time }}<br />
                    <a href="{{ site.meetup_map_url }}">
                        {{ site.meetup_venue_name }}<br />
                        {{ site.meetup_venue_address }}
                    </a>
                </p>

                <a class="btn btn-success btn-block" href="{{ site.meetup_event_url }}">RSVP here</a>
            </div>
            <div class="col-md-6">
                <h4>Propose a topic</h4>
                <p>
                    What would you like to hear on upcoming meetups? Submit your topic ideas to our talks wishlist.<br>
                </p>
                <a class="btn btn-small btn-warning btn-block" href="/talks-wishlist">Talks wishlist</a>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        {% include "frontpage/news.html" %}
    </div>
    <div class="col-md-4">
        {% include "frontpage/talks.html" %}
    </div>
    <div class="col-md-4">
        {% include "frontpage/tweets.html" %}
    </div>
</div>
